.page-header
  = ilink_to 'arrow-circle-left', 'Back', user_newschannels_path(@user), class: 'btn btn-default'
  = ilink_to 'edit', 'Edit', edit_user_newschannel_path(@user, @newschannel), class: 'btn btn-primary'

  %h1 Show Newschannel

%dl.dl-horizontal
  %dt Name
  %dd= @newschannel.name
  %dt Feed URL
  %dd= @newschannel.feedurl
